body {
  display: flex;
  justify-content: center;
  font-family: 'Crimson Text', serif;
  background-image: url("https://cdn.shopify.com/s/files/1/0874/7954/products/dreams-of-gaia-tarot-14180_250x.jpg?v=1571438644");
  background-attachment: fixed;
}

.tarot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20% 30px;
  padding-bottom: 20px;
  background-color: white;
  opacity: 0.94;
  font-family: 'Crimson Text', serif;
  border-radius: 10px;
  width: 800px;
}

.crystal-ball-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: .99;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-cardlist:hover, .btn-draw-one:hover, .btn-draw-three:hover {
  color: rgb(14, 12, 12) !important;
  background-color: white !important;
}

.one-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20%;
}
.card-pic {
  border-radius: 12px;
  opacity: 1;
}

.entire-list {
  height: 60vh;
  overflow: scroll;
  padding-bottom: 20px;
}

.carousel-of-random {
  padding-bottom: 25px;
}

span {
  font-style: oblique;
}
